/* Landing page styles */
html {
  font-family: 'Cronos Pro';
  font-size: 18px;
  font-weight: 400;
  min-height: 100vh;
  background: repeating-linear-gradient(
    45deg,
    #b0b4c0,
    #b0b4c0 40px,
    #20282A 40px,
    #20282A 80px
  );
}

body {
  margin: 0;
  padding: 0 0 2em;
}

h1 {
  font-family: 'Sabon', 'Adobe Garamond Pro', 'Garamond', serif;
  font-weight: bold;
  font-style: italic;
}

main {
  padding: 2em 0;
  width: 100%;
  height: auto;
  max-height: 35%;
}

a, a:visited {
  color: #5592C9;
}

a:hover,
a:active {
  color: #01295C;
}

/* --- Card --- */
.card {
  margin: auto;
  max-width: 50vh;
  height: 50vh;
  position: relative;
  cursor: pointer;
}

.pad {
  padding: 1em;
}

.card_side {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
      backface-visibility: hidden;

  -webkit-transform-origin: left 50% -2em;
     -moz-transform-origin: left 50% -2em;
    -ms-transform-origin: left 50% -2em;
      transform-origin: left 50% -2em;

  transition: all 0.5s ease;

  box-shadow: 0 0 8px RGBA(15, 23, 26, 1);
}

.front {
  background: RGBA(253, 251, 250, 1);
}

.back {
  background: #5592C9;
  color: RGBA(253, 251, 250, 1);
  transform: rotateY(180deg);
}

.back a {
  color: RGBA(166, 174, 179, 1);
}

.flipped.card .front {
  -webkit-transform: rotateY(-180deg);
     -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
}

.flipped.card .back {
  -webkit-transform: rotateY(0);
     -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
      transform: rotateY(0);
}

.flipped .card_side {
  -webkit-transform-origin: right 50% -2em;
     -moz-transform-origin: right 50% -2em;
    -ms-transform-origin: right 50% -2em;
      transform-origin: right 50% -2em;
}

.card:hover .front {
  -webkit-transform: rotateY(-10deg);
     -moz-transform: rotateY(-10deg);
    -ms-transform: rotateY(-10deg);
      transform: rotateY(-10deg);

  box-shadow: 8px 0 20px RGBA(15, 23, 26, 1);
}

.card:hover .back {
  -webkit-transform: rotateY(170deg);
     -moz-transform: rotateY(170deg);
    -ms-transform: rotateY(170deg);
      transform: rotateY(170deg);

  box-shadow: -8px 0 20px RGBA(15, 23, 26, 1);
}

.flipped.card:hover .front {
  -webkit-transform: rotateY(-170deg);
     -moz-transform: rotateY(-170deg);
    -ms-transform: rotateY(-170deg);
      transform: rotateY(-170deg);
}

.flipped.card:hover .back {
  -webkit-transform: rotateY(10deg);
     -moz-transform: rotateY(10deg);
    -ms-transform: rotateY(10deg);
      transform: rotateY(10deg);
}

.card_side img {
  width: 100%;
  height: auto;
}


/* ----- Common styles ----- */
.plain_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ----- Navigation styles ----- */
.site-nav {
  background: linear-gradient(to right, #5592C9 -15%, #01295C, #5592C9 115%);
  border-top: 1px solid #FEFEFE;
  font-family: 'Sabon', 'Adobe Garamond Pro', 'Garamond', serif;
  line-height: 1;
  font-size: 1.1rem;
  font-style: italic;
  color: #FEFEFE;
}

.site-nav li { border-bottom: 1px solid #FEFEFE; }

.site-nav li a {
  display: block;
  height: 2em;
  line-height: 2;
  padding: 0.5em 0;
  width: 100%;
  text-align: center;
  color: inherit;
  text-decoration: none;
  transition: all 0.5s ease;
}

.site-nav li a:hover {
  background: #5592C9;
  color: RGBA(253, 251, 250, 1);
}

.site-nav li a:active {
  background: #01295C;
  transition: all 0.1s ease-out;
}

.fa {
  padding-right: 0.25em;
  padding-left: 0.25em;
  font-size: 80% !important;
}

/* Special styles for navigation items */
.site-nav .inner_list {
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  border-bottom: #5592C9;
}

.site-nav .inner_list li {
  flex: 1 0 10em;
  border: none;
}

@media screen and (max-width: 580px) {
  .site-nav .inner_list {
    display: block;
    padding: 0;
    border-bottom: none;
  }

  .site-nav .inner_list li {
    width: 100%;
    border-bottom: 2px solid #5592C9;
  }

  .site-nav .inner_list li:last-of-type { border-bottom: none; }
}


/* Archive and entries */
.archive {
  padding-top: 4em;
}

.run-entry__title,
.archive__title {
  font-size: 2em;
  padding: 1em 0;
  text-align: center;
  color: #FEFEFE;
  background: linear-gradient(to right, #5592C9 -15%, #01295C, #5592C9 115%);
  line-height: 1.4;
  font-style: normal;
  font-weight: normal;
  text-shadow: 0 0 .2rem #5592C9;
}

.archive__body,
.run-entry__body {
  font-size: 1.125em;
  background: #FEFEFE;
  margin: 2em 0;
  padding: 1em 0;
  text-align: center;
}

.archive__body *,
.run-entry__body * {
  max-width: 590px;
  margin-left: auto;
  margin-right: auto;
}

.run-entry__body ul {
  list-style-position: inside;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 0 1em;
}

.article-list {
  list-style: none;
  padding: 1em 0 0;
  margin-top: 0;
  margin-bottom: 0;
}

.article-list__item {
  margin-bottom: 1em;
}

.page-nav {
  display: flex;
  justify-content: space-around;
}

.page-nav__item {
  flex: 1 0 20%;
}

.run-audio {
  width: 90%;
  max-width: 590px;
  display: block;
  margin: auto;
  padding: 0 0 1.4em;
}


/* ----- Footer styles ----- */
footer {
  background: #01295C;
  color: RGBA(253, 251, 250, 1);
  padding: 2em 1em;
  margin: 0 0 2em;
  text-align: center;
  border-bottom: 2px solid #5592C9;
}

footer a {
  color: RGBA(253, 251, 250, 1);
  font-family: 'Sabon';
  font-style: italic;
  font-size: 1.05em;
  transition: all 0.5s ease;
}

footer a:hover {
  color: RGBA(15, 23, 26, 1);
}

.colophon_list li {
  line-height: 1.2;
  padding-bottom: 1em;
}


/* ====== Media queries ====== */
@media screen and (max-width: 600px) {
  html { font-size: 15px; }
  nav { font-size: 1em; }
  nav li a { line-height: 2.1; }
}
